@use "./variables" as *;

.about-section {
  display: flex;
  overflow: hidden;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: $secondary-background-color;
  padding: 30px 0px 30px 0px;
}

.profile-card-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  opacity: 0;
  align-items: center;
  transform: translate(300px);
}

.profile-card-section.active {
  transition: all 1s ease;
  opacity: 1;
  transform: translate(0px);
}

.about-text-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  transform: translate(-300px);
  opacity: 0;
}
.about-text-section.active {
  transition: all 1s ease;
  opacity: 1;
  transform: translate(0px);
}

.about-text-section p {
  width: 70%;
  margin-top: 50px;
}

.profile-picture {
  border: 5px solid $green;
  border-radius: 100%;
  padding: 4px;
}

.icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.icons-div a {
  margin-left: 30px;
}

.icons-div a:first-child {
  margin-left: 0px;
}

.icon-image {
  transform: scale(1);
  transition: all 0.3s ease;
}

.icon-image:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

@media (max-width: 900px) {
  .about-section {
    flex-direction: column;
  }

  .about-text-section {
    margin-top: 30px;
    align-items: center;
    text-align: justify;
  }

  .about-text-section p {
    width: 85%;
    margin-top: 20px;
    font-size: 1rem;
  }
}
