@use "./variables" as *;

.floating-medias-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: transparent;
  bottom: -1px;
  gap: 10px;
  left: 1%;
  z-index: 3;
}

.icon-image {
  transform: scale(1);
  transition: all 0.3s ease;
}

.icon-image:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.line {
  height: 100px;
  width: 1px;
  border-left: solid 1px $green;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .floating-medias-section {
    display: none;
  }
}
