@use "../styles/_variables.scss" as *;

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  background-color: $secondary-background-color;
  color: $grey;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}

.footer-section p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-section a:link {
  text-decoration: none;
}
.footer-section a {
  color: $primary-text;
  transition: all 0.4s ease;
}
.footer-section span {
  color: $green;
  transition: all 0.4s ease;
}
.footer-section span:hover {
  color: $green;
  color: lighten($color: $green, $amount: 10);
  transition: all 0.4s ease;
}
.footer-section a:hover {
  transform: translateY(-3px);
  color: lighten($color: $primary-text, $amount: 10);
  transition: all 0.4s ease;
}
