.select {
  display: flex;
  background-color: #29292c;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  flex: 33%;
}

.selector {
  font-size: 14px;
  margin-left: 30px;
  cursor: pointer;
}

.selector img {
  width: 26px;
  margin-right: 10px;
}

.dropdown {
  display: none;
}

.arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #fff transparent transparent transparent;
  margin: 0 0 0 5px;
}

.selector.active .dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 60px;
  right: 20px;
  background-color: #29292c;
  padding: 10px;
  border-radius: 10px;
}

.selector.active .dropdown img {
  display: flex;
}

.language {
  display: flex;
  align-items: center;
  cursor: pointer;
}

//Select /\

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}

.logo {
  color: #04d361;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--font-jetbrains);
  flex: 33%;
}

.logo-short {
  display: none;
  color: #04d361;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--font-jetbrains);
}

.header select {
  margin-left: 30px;
}

.nav-links {
  display: flex;
  margin-left: 30px;
  font-weight: 400;
  flex: 33%;
}

.nav-links a {
  margin-left: 50px;
  text-decoration: none;
  color: inherit;
  // font-family: var(--font-jetbrains);
  font-weight: 700;
}

.nav-links a:first-child {
  margin-left: 0px;
}

.nav-links a:link {
  text-decoration: none;
}

.nav-links a:hover {
  color: darken($color: #fff, $amount: 15);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

@media (max-width: 1050px) {
  .language-label {
    display: none;
  }
}

@media (max-width: 1050px) {
  .language-label {
    display: none;
  }
}

@media (max-width: 799px) {
  .logo-short {
    display: block;
    flex: 60%;
  }
  .logo {
    display: none;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #121214;
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    margin-left: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in;
  }

  .nav-links.active {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;
  }

  .nav-links.active a {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-size: 2rem;
    font-family: var(--font-jetbrains);
  }

  .hamburgerMenu {
    display: flex;
    justify-content: space-around;
  }
  .hamburgerbar {
    border: solid 1px #fff;
    border-radius: 1px;
    // width: 20px;
  }

  .hamburgerMenu.active .hamburgerbar:nth-of-type(1) {
    transform: rotate(-45deg);
    position: absolute;
    right: 118px;
    height: 22px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
  .hamburgerMenu.active .hamburgerbar:nth-of-type(2) {
    transform: rotate(45deg);
    position: absolute;
    right: 118px;
    height: 22px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
  .hamburgerMenu.active .hamburgerbar:nth-of-type(3) {
    display: none;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
}
