@use "./variables" as *;

.select {
  display: flex;
  background-color: $primary-text;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  flex: 33%;
  color: $background-color;
  font-weight: 400;
  width: 133px;
}

.selector {
  font-size: 14px;
  margin-left: 30px;
  cursor: pointer;
}

.dropdown {
  display: none;
}

.arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: $background-color transparent transparent transparent;
  margin: 0 0 0 5px;
}

.selector.active .dropdown {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  top: 65px;
  right: 20px;
  background-color: $primary-text;
  padding: 5px;
  border-radius: 10px;
  color: $background-color;
  width: 133px;
  height: 42px;
}

.selector.active .dropdown img {
  display: flex;
}

.language {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .language-label {
    display: none;
  }
  .select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
  }

  .select img {
    margin: 0;
  }

  .selector.active .dropdown {
    width: 65px;
  }
}
