$background-color: #121214;
$green: #04d361;
$primary-text: #e1e1e6;
$grey: #a8a8b3;
$secondary-background-color: #101011;

.jetbrains {
  font-family: var(--font-jetbrains);
}

.presentation-div {
  margin-left: 50px;
  margin-right: 100px;
}

.greeting {
  font-size: 1.2rem;
}

.name {
  display: inline-block;
  // margin-bottom: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 3px solid transparent;
  font-size: 1.5rem;

  animation:
    type 2s steps(15) 1s forwards,
    blink 0.5s steps(20) 7;
}

.subtitle {
  color: $green;
  font-family: var(--font-jetbrains);
  margin-bottom: 15px;
  font-size: 1.8rem;
}

@keyframes type {
  to {
    width: 16.5ch;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
  height: 100vh;
}

.presentation-div p {
  max-width: 400px;
}

.resume-button {
  width: 322px;
  margin-top: 15px;
  height: 62px;
  flex-shrink: 0;
  border: 1px solid $green;
  border-radius: 5px;
  background-color: #131313;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.resume-button:hover {
  background-color: $green;
  transition: background-color 0.1s ease;
}

.image-container {
  position: relative;
  min-width: 600px;
  min-height: 600px;
}

@media (max-width: 1279px) {
  .main-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .presentation-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .image-container {
    position: relative;
    min-width: 400px;
    min-height: 400px;
  }
}

@media (max-width: 780px) {
  .image-container {
    position: relative;
    min-width: 300px;
    min-height: 300px;
  }

  .main-section {
    padding-bottom: 100px;
  }

  .presentation-div {
    width: 90%;
  }

  .presentation {
    font-size: 14px;
  }

  .greeting {
    font-size: 18px;
  }

  .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 339px) {
  .name {
    font-size: 14px;
  }

  .presentation {
    font-size: 10px;
  }

  .greeting {
    font-size: 18px;
  }

  .subtitle {
    font-size: 18px;
  }
}
