@use "../styles/_variables.scss" as *;

.projects-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $secondary-background-color;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}
.projects-section main {
  margin-top: 30px;
}
