.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  min-width: 90%;
}

.project-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 300px;
}

.project-content .images-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 1300px) {
  .project {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0px;
  }

  .project-content {
    align-self: flex-start;
    min-width: none;
  }
}

@media (max-width: 700px) {
  .project-image img {
    width: 354px;
    height: 200px;
  }
}

@media (max-width: 400px) {
  .project-image img {
    width: 286px;
    height: 160px;
  }
}
