@use "../styles/variables" as *;
.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  min-width: 90%;
  overflow: hidden;
  padding: 50px;
  border-radius: 25px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}

.project:hover {
  // background-color: #111111;
  border-top: 1px solid $green;
  // border-bottom: 1px solid $green;
  cursor: pointer;
  transform: translateY(-7px);
  transition: all 0.4s ease-in-out;
}
// .even {
//   flex-direction: row;
// }

// .odd {
//   flex-direction: row-reverse;
// }

.project-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 300px;
  margin: 0px 20px 0px 20px;
}

.project-content .skill-images-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.project-content .skill-images-container img {
  border-radius: 30px;
}
.project-content .buttons-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  margin: 20px 0px 20px 0px;
}

.project-content article {
  color: $grey;
}
.project-content .buttons-container button {
  height: 40px;
  width: 112px;
  // padding: 15px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $primary-text;
  border-radius: 5px;
  color: $primary-text;
  transition: all 0.2s ease;
  font-weight: 500;
}
.project-content .buttons-container button:hover {
  background-color: $primary-text;
  color: $background-color;
  transition: all 0.2s ease;
}
@media (max-width: 1300px) {
  .project {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0px;
  }

  .project-content {
    align-self: flex-start;
    min-width: none;
  }
}

@media (max-width: 720px) {
  .project-image img {
    width: 354px;
    height: 200px;
  }
}

@media (max-width: 400px) {
  .project-image img {
    width: 286px;
    height: 160px;
  }
}
