@use "./variables" as *;

.skill-section {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}

.skills-cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  gap: 30px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.skill-card img {
  filter: grayscale(100%) opacity(60%);
  margin-bottom: 10px;
  border-radius: 100%;
}

.skill-card img:hover {
  filter: grayscale(0%) opacity(100%);
  transition: filter 0.2s ease-in;
}

.skill-card.active {
  visibility: visible;
  animation: bubble 0.8s ease 0s 1 forwards;
}

@keyframes bubble {
  0% {
    translate: -50px;
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    translate: 0px;
    opacity: 1;
  }
}

@media (max-width: 779px) {
  .skills-cards-section {
    width: 100%;
  }
  .skill-card img {
    width: 48px;
    height: 48px;
  }
  .skill-card {
    width: 80px;
    height: 80px;
  }
  .skill-section {
    min-height: 50vh;
  }
}

@media (max-width: 580px) {
  .skill-section {
    min-height: 50vh;
  }
  .skills-cards-section {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .skill-section {
    min-height: 50vh;
  }
  .skill-card img {
    width: 32px;
    height: 32px;
  }
  .skill-card {
    width: 60px;
    height: 60px;
  }
}
