@use "./variables" as *;

.skill-section {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
  overflow: hidden;
}

.skills-cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  gap: 30px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  opacity: 0;
}

.skill-card img {
  filter: grayscale(100%) opacity(60%);
  transform: scale(1);
  margin-bottom: 10px;
  border-radius: 100%;
  transition: all 0.6s ease-in-out;
}

.skill-card img:hover {
  filter: grayscale(0%) opacity(100%);
  transform: scale(1.04);
  transition: all 0.2s ease-in-out;
}

@for $i from 0 through 12 {
  .skill-card.active-#{$i} {
    animation: fade-in 0.6s + 0.1s * $i ease 0s 1 forwards;
  }
}

@keyframes fade-in {
  0% {
    translate: 0px -200px;
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

@media (max-width: 779px) {
  .skills-cards-section {
    width: 100%;
  }
  .skill-card img {
    width: 48px;
    height: 48px;
  }
  .skill-card {
    width: 80px;
    height: 80px;
  }
  .skill-section {
    min-height: 50vh;
  }
}

@media (max-width: 580px) {
  .skill-section {
    min-height: 50vh;
    padding: 30px;
  }
  .skills-cards-section {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .skill-section {
    min-height: 50vh;
  }
  .skills-cards-section {
    gap: 0px;
    width: 100%;
  }
  .skill-card img {
    width: 32px;
    height: 32px;
  }
  .skill-card {
    width: 92px;
    height: 92px;
  }
}
